.DifficultyLevel {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.DifficultyButton {
	width: 15%;
	height: 40px;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
}

.DifficultyButton:hover {
	color: white;
	background-color: black;
}

.DifficultyTitle {
	margin: 0 auto;
	display: inline;
}

.hide {
	display: none;
}