.MainButtons {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
}

.MainButton {
	width: 20%;
	height: 40px;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
}

.MainButton:hover {
	color: white;
	background-color: black;
}

.hide {
	display: none;
}
